*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    text-decoration: none;
}

/* Justify - Align: Center */
.jty-alg-center{
    align-items: center;
    justify-content: center;
}

/* Degraded Color: Cyan - Lima Green */
.degraded-color{
    background: rgb(48,211,92);
    background: linear-gradient(90deg, rgba(48,211,92,1) 0%, rgba(42,182,217,1) 100%);
}

/* Paragraph */
p{
    color: hsl(233, 8%, 62%);
}

/* Header */
.header{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;
    margin-top: 3rem;
}

/* Nav Content */
.nav-content{
    display: flex;
    width: 98%;
    height: 100%;
}

    /* Container Logo */
    /* Container Button Request */
    .cont-logo, .cont-btn-request{
        display: flex;
        width: 25%;
        height: 100%;
    }

    .cont-logo img{
        width: 220px;
        margin-top: 0.5rem;
    }

    /* Container Menu List */
    .nav-menu{
        display: flex;
        width: 50%;
        height: 100%;
        list-style: none;
    }

    .cont-lists{
        display: flex;
    }

        /* Item */
        .item-menu-list a{
            color: #A7A7A7;
            margin: 0 1rem;
            font-size: 16px;
            text-decoration: none;    
            padding-bottom: 10px;    
        }

        .item-menu-list a:hover{
            color: black;
            border-bottom: 3px solid hsl(136, 65%, 51%);
        }
        
        .item-menu-list img{
            display: none;
        }

    /* Container Button Request */
        /* Button */
        .btn-request-menu{
            display: flex;
            width: 190px;
            height: 42px;
            border-radius: 6rem;
            border: 0;
            cursor: pointer;
        }

        .btn-request-menu a{
            font-size: 15px;
            color: white;
        }

    /* Container Responsive Menu Icon */
    .btn-menu-icon{
        display: none;
    }

/* Content Section */
.content{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
}

    /* Banking Section */
    .sect-banking{
        display: flex;
        width: 85%;
        height: 750px;
        padding: 5rem 0 0;
        align-items: center;
    }

        /* Container Generation */
        .cont-generation{
            display: flex;
            width: 40%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
        }

            .cont-generation h1{
                width: 70%;
                font-size: 45px;
                font-weight: 500;
                margin-bottom: 20px;
                color: hsl(233, 26%, 24%);
            }

            .cont-generation p{
                width: 60%;
                font-size: 15px;
                font-weight: lighter;
                margin-bottom: 30px;
                line-height: 1.4rem;
            }

            /* Button */
            .btn-request-banking{
                display: flex;
                width: 180px;
                height: 42px;
                border-radius: 6rem;
                border: 0;
                cursor: pointer;
            }

            .btn-request-banking a{
                font-size: 14px;
                color: white;
            }
        
        /* Container Image Bank */
        .cont-img-bank{
            display: flex;
            width: 60%;
            height: 100%;
            justify-content: end;
            background-image: url("../img/bg-intro-desktop.svg");
            background-size: cover;        
        }

            .cont-img-bank img{
                display: flex;
                width: 35%;
                height: 87%;
                margin: 1rem 0 30rem; 
                position: absolute;             
            }

    /* Easy Bank Section */
    .sect-easy-bank{
        display: flex;
        width: 100%;
        height: 650px;
        background-color: hsl(0, 0%, 98%);
        flex-direction: column;
    }

        /* Container title */
        .cont-title-easy{
            display: flex;
            width: 85%;
            height: 20%;
            flex-direction: column;
            justify-content: center;
            margin-top: 4rem;
        }

            .cont-title-easy h1{
                font-size: 35px;
                font-weight: 500;
                margin-bottom: 1rem;
                color: hsl(233, 26%, 24%);
            }

            .cont-title-easy p{
                width: 32%;
                font-size: 14px;
                color: hsl(233, 8%, 62%);
                line-height: 1.4rem;
            }

        /* Container Easy Cards */
        .cont-easy-cards{
            display: flex;
            width: 85%;
            height: 60%;
            justify-content: space-between;
            margin-top: 4rem;
            margin-bottom: -4rem;
        }

            /* Card */
            .easy-card{
                display: flex;
                width: 25%;
                height: 100%;
                flex-direction: column;
                justify-content: flex-start;
            }

                .easy-card img{
                    display: flex;
                    width: 80px;
                    height: 80px;
                }

                .easy-card h2{
                    font-size: 20px;
                    font-weight: 600;
                    margin: 1.5rem 0 1.5rem;
                }

                .easy-card p{
                    font-size: 14px;
                    width: 58.15%;
                    line-height: 1.3rem;
                }
                    
/* @media */
    /* @media 1440px */
    @media(max-width: 1440px){
        .nav-content{
            width: 90%;
        }

        .sect-banking{
            height: 650px;
            padding: 3.5rem 0 0;
        }

        .cont-generation h1{
            font-size: 40px;
        }

        .cont-generation p{
            font-size: 13px;
        }

        .btn-request-banking{
            width: 170px;
            height: 40px;
        }

        .btn-request-banking a{
            font-size: 13px;
        }

        .cont-img-bank img{
            width: 37.5%;
        }

        .sect-easy-bank{
            height: 580px;
        }

        .cont-title-easy h1{
            font-size: 30px;
        }

        .easy-card h2{
            font-size: 18px;
        }

        .easy-card img{
            width: 70px;
            height: 70px;
        }

        .cont-title-easy p, .easy-card p{
            font-size: 13px;
        }

        .easy-card p{
            width: 70%;
        }
    }

    /* @media 1280px */
    @media(max-width: 1280px){
        .header{
            height: 70px;
        }

        .cont-logo img{
            width: 200px;
        }

        .item-menu-list a{
            font-size: 14px;
        }

        .btn-request-menu{
            width: 165px;
            height: 40px;
        }

        .btn-request-menu a{
            font-size: 13px;
        }

        .cont-img-bank img{
            width: 42%;
        }

        .easy-card p{
            width: 75%;
        }
    }

    /* @media 1024px */
    @media(max-width: 1024px){
        .nav-content{
            width: 85%;
            justify-content: space-between;
        }

        .cont-logo{
            width: 50%;
            justify-content: start;
        }

        .btn-menu-icon{
            width: 50%;
        }

        .cont-logo img{
            margin-top: 0;
        }

        .btn-request-menu{
            display: none;
        }

        .btn-menu-icon{
            display: flex;
            background-color: white;
            border: 0;
            justify-content: end;
        }

        .btn-menu-icon img{
            width: 40px;
            height: 52%;
            margin-top: 0.5rem;
        }

        .nav-menu{
            display: flex;
            width: 40%;
            background-color: white;
            position: absolute;
            left: -120%;
            height: calc(100% - 40px);
            overflow-y: auto;
            transition: left 0.6s;
            margin: 5.5rem 7.5% 0 ;
            justify-content: start;
            align-items: start;
            flex-direction: column;
        }

        .cont-lists{
            flex-direction: column;
        }

        .item-menu-list{
            display: flex;
            width: 100%;
            margin: 8px 0 8px;
        }

        .item-menu-list img{
            display: flex;
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }

        .item-menu-list a{
            font-size: 15px;
            margin-left: 5px;
        }

        .item-menu-list a:hover{
            color: black;
            border: 0;
            transition: 0.3s;
        }

        .nav-menu-visible{
            left: 0;
        }

        .sect-banking{
            height: 600px;
        }

        .cont-generation h1{
            font-size: 30px;
        }

        .cont-generation p{
            font-size: 11px;
            line-height: 1.1rem;
        }

        .btn-request-banking{
            width: 150px;
            height: 35px;
        }

        .btn-request-banking a{
            font-size: 11px;
        }

        .cont-img-bank img{
            width: 47.5%;
            height: 80%;
        }

        .sect-easy-bank{
            height: 550px;
        }

        .cont-title-easy h1{
            font-size: 25px;
            font-weight: 500;
        }

        .easy-card h2{
            font-size: 15px;
        }

        .easy-card img{
            width: 65px;
            height: 65px;
        }

        .cont-title-easy p, .easy-card p{
            font-size: 11px;
        }

        .easy-card p{
            width: 70%;
            line-height: 1.1rem;
        }
    }

    /* @media 768px */
    @media(max-width: 768px){
        .nav-content{
            width: 80%;
        }

        .nav-menu{
            margin: 5.5rem 12% 0 ;
            width: 35%;
        }

        .sect-banking{
            width: 80%;
            flex-direction: column-reverse;
            height: 1100px;
        }

        .cont-generation, .cont-img-bank{
            width: 100%;
            height: 50%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .cont-img-bank img{
            width: 77.5%;
            height: 120%;
            margin: 7rem 0 0;
            position: unset;
        }

        .sect-easy-bank{
            height: 550px;
        }

        .cont-title-easy{
            align-items: center;
            text-align: center;
            margin-top: 5rem;
        }

        .cont-title-easy p{
            line-height: 1rem;
        }

        .cont-easy-cards{
            flex: 25%;
            margin-top: 3rem;
            margin-bottom: -3rem;
        }

        .easy-card{
            align-items: center;
            text-align: center;
        }

        .easy-card p{
            font-size: 10.5px;
        }
    }

    /* @media 425px */
    @media(max-width: 425px){
        .cont-logo img{
            width: 160px;
            margin-top: 1rem;
        }

        .header{
            margin-top: 0;
            position: fixed;
        }

        .nav-menu{
            position: absolute;
            width: 100%;
            height: 100vh;
            margin: 4rem 0 0;
            align-items: center;
            justify-content: center;
        } 

        .item-menu-list{
            justify-content: center;
            align-items: center;
            margin: 0 0 25px;
        }

        .item-menu-list a{
            color: black;
            font-size: 20px;
        }

        .item-menu-list img{
            display: none;
        }

        .cont-lists{
            width: 80%;
            height: auto;
            flex-direction: column;
            margin-top: -22rem;
            padding: 60px 0 20px;
        }

        .btn-menu-icon{
            align-items: center;
        }

        .btn-menu-icon img{
            width: 35px;
            height: 30px;
        }

        .sect-banking{
            height: 650px;
        }

        .cont-generation{
            margin-top: 5rem;
        }

        .cont-img-bank{
            background-image: ulr("../img/bg-intro-mobile.svg");
        }

        .cont-img-bank img{
            width: 100%;
            height: 150%;
            position: unset;
            margin-top: -4rem;
        }

        .sect-easy-bank{
            margin-top: 5rem;
            height: auto;
            padding-bottom: 5rem;
        }

        .cont-title-easy h1{
            width: 72%;
        }

        .cont-title-easy p{
            width: 72%;
        }

        .cont-easy-cards{
            flex-direction: column;
            align-items: center;
        }

        .easy-card{
            width: 100%;
            height: 25%;
            margin-bottom: 2.5rem;
        }

        .easy-card p{
            width: 67%;
        }
    }