*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Header */
.header{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    margin: 3rem 0 0;
}

    .nav{
        display: flex;
        width: 100%;
        height: auto;
    }

    /* Content */
    .content-header{
        display: flex;
        width: 80%;
        height: 100%;
        align-items: center;
    }

    .content-header a img{
        display: flex;
        margin: -17.5px 0 0;
    }

    .cont-list{
        display: flex;
    }

        /* Nav Menu */
        .nav-menu{
            display: flex;
            width: 65%;
            height: 100%;
            align-items: center;
            list-style: none;
        }

        .nav-menu li a, .nav-user li a{
            text-decoration: none;
            margin-left: 3rem;
            color: hsl(0, 0%, 75%);
        }

        .nav-menu li a:hover, 
        .nav-user li a:hover{
            color: black;
            transition: 0.3s;
        }

            /* Item */
            .item-nav-menu{
                display: flex;
                font-size: 14px;
                font-weight: 500;
            }
        
        .nav-btn-sec{
            display: none;
        }

        /* Nav User */
        .nav-user{
            display: flex;
            width: 35%;
            height: 100%;
            align-items: center;
            justify-content: end;
        }

        .nav-user img{
            display: none;
        }

            /* Button Sign Up */
            .btn-sign-up, .btn-brands{
                display: flex;
                width: 120px;
                height: 40px;
                font-size: 14px;
                background-color: hsl(180, 66%, 49%);
                border-radius: 1.5rem;
                align-items: center;
                justify-content: center;
                margin-left: 3rem;
                cursor: pointer;
                border: none;
            }

            .btn-sign-up a{
                color: white;
                font-size: 14px;
                text-decoration: none;
            }

            .btn-sign-up:hover, .btn-brands:hover{
                opacity: 0.7;
                transition: 0.3s;
            }

        /* Nav Button */
        .nav-btn{
            display: none;
        }

/* Content Page */
.cont-content, .content-page{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

/* Section brands */
.sect-brands{
    display: flex;
    width: 100%;
    height: 520px;
    margin: 2rem 0 0;
}

    /* Container Brands */
    .cont-brands-content{
        display: flex;
        width: 55%;
        height: 100%;
        justify-content: center;
    }

        /* Content  */
        .content-brands{
            display: flex;
            width: 65%;
            height: auto;
            flex-direction: column;
            justify-content: center;
        }

        .content-brands h1{
            color: hsl(255, 11%, 22%);
            font-size: 75px;
            font-weight: 700;
            line-height: 5rem;
        }

        .content-brands p{
            color: gray;
            font-size: 16px;
            line-height: 24px;
            margin: 5px 0 2rem;
        }

        /* Button */
        .btn-brands{
            display: flex;
            width: 160px;
            color: white;
            margin: 0;
        }

    .cont-brands-content, .cont-brands-image{
        display: flex;
        height: 100%;
    }

    /* Image */
    .cont-brands-image{
        width: 45%;
        justify-content: end;
        align-items: center;
    }

    .cont-brands-image img{
        width: 800px;
        position: absolute;
        right: -3rem;
    }

/* @media */
    /* @media 1440px */
    @media (max-width: 1440px){
        .content-brands h1{
            font-size: 60px;
        }

        .content-brands p{
            width: 80%;
            font-size: 14px;
        }

        .cont-brands-image img{
            width: 720px;
        }
    }

    /* @media 1025px - 1280px */
    @media (max-width: 1280px){
        .content-brands h1{
            font-size: 55px;
            line-height: 4rem;
        }

        .content-brands p{
            width: 75%;
            font-size: 12px;
        }

        .cont-brands-image img{
            width: 660px;
        }
    }

    /* @media 1024px */
    @media (max-width: 1024px){
        .header{
            margin: 3rem 0 0;
        }
           
        .content-header a img{
            margin: 0;
        }

        .nav-menu a img{
            height: 25px;
        }

        .item-nav-menu{
            font-size: 12px;
        }

        .nav-user li, .btn-sign-up{
            display: none;
        }

        .nav-user img{
            display: flex;
            width: 35px;
            height: 35px;
        }

        .nav-btn{
            display: flex;
            width: 50%;
            height: 100%;
            align-items: center;
            justify-content: end;
        }

        .btn-menu{
            display: flex;
            width: 35px;
            height: 35px;
            border: none;
            cursor: pointer;
            justify-content: end;
            background-color: white;
        }

        .btn-menu img{
            display: flex;
            width: 100%;
            height: 100%;
        }

        #nav-user{
            display: none;
        }

        .nav-user-visible{
            display: flex;
            width: 220px;
            height: 120px;
            position: absolute;
            right: 10.2%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 3rem 0 0;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 1.5rem 1px 1.5rem 1px;
            padding: 0;
        }

        .nav-user-visible .btn-sign-up,
        .nav-user-visible li{
            display: flex;
            margin: 7px 0 7px;
            padding: 0;
        }

        .nav-user-visible li{
            margin-right: 22.5%;
            font-size: 14px;
        }

        .nav-header-btn{
            display: none;
        }

        .sect-brands{
            margin: 0;
        }

        .content-brands h1{
            font-size: 40px;
            line-height: 3rem;
        }

        .content-brands p{
            width: 95%;
            font-size: 10px;
        }

        .cont-brands-image img{
            width: 100%;
            position: unset;
        }

        .btn-brands{
            width: 145px;
            height: 35px ;
        }
    }

    /* @media 768px */
    @media (max-width: 768px){ 
        .sect-brands{
            width: 100%;
            flex-direction: column-reverse;
            align-items: center;
            margin: 2rem 0 0;
            height: 700px;
        }

        .cont-brands-content{
            width: 100%;
            height: 45%;
        }

        .content-brands{
            align-items: center;
            text-align: center;
        }

        .content-brands h1{
            width: 90%;
            margin: 0;
        }

        .content-brands p{
            width: 90%;
            margin: 0.75rem 0 1.5rem;
            font-size: 12px;
        }

        .cont-brands-image{
            width: 100%;
            height: 55%;
            justify-content: center;
        }

        .cont-brands-image img{
            width: 75%;
            position: unset;
        }

        .btn-menu{
            display: flex;
            width: 35px;
            height: 35px;
            border: none;
            cursor: pointer;
            justify-content: end;
            background-color: white;
            position: absolute;
            right: 10%;
        }

        .btn-menu img{
            display: flex;
            width: 100%;
            height: 100%;
        }

        .user-nav-btn{
            display: none;
        }

        .nav-header-btn{
            display: flex;
        }

        .nav-menu-visible{
            display: flex;
            width: 37%;
            height: 370px;
            position: absolute;
            right: 10.5%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 28rem 0 0;
            background-color: hsl(257, 27%, 26%);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 8px;
        }

        .nav-menu-visible li{
            display: flex;
        }

        .nav-menu-visible button{
            display: flex;
            width: 85%;
            height: 40px;
            margin: 10px 0 17.5px;
        }

        .nav-menu{
            flex-direction: column;
            width: 100%;
            height: 55%;
            align-items: center;
            justify-content: center;
        }

        .nav-menu li a, .nav-user li a{
            margin: 0;
            color: white;
        }

        .nav-menu li a, .nav-user li a,
        .btn-sign-up a{
            font-weight: 700;
            font-size: 14px;
        }

        .item-nav-menu{
            margin: 7px 0 5px;
        }

        .nav-user{
            flex-direction: column;
            width: 85%;
            height: 45%;
            justify-content: center;
            align-items: center;
        }

        .btn-sign-up:hover, .nav-menu li a:hover, 
        .nav-user li a:hover{
            opacity: 0.8;
            color: white;
        }

        .border-nav{
            border-top: 1px solid hsl(0, 0%, 75%);
        }
    }

    /* @media 425px */
    @media (max-width: 425px){
        .content-header{
            width: 78%;
        }

        .nav-menu a img{
            height: 25px;
        }

        .item-nav-menu{
            font-size: 12px;
        }

        .nav-user li, .btn-sign-up, .nav-menu li{
            display: none;
        }

        .nav-user img{
            display: flex;
            width: 35px;
            height: 35px;
        }

        .nav-btn{
            display: flex;
            width: 50%;
            height: 100%;
            align-items: center;
            justify-content: end;
        }

        .btn-menu{
            display: flex;
            width: 35px;
            height: 35px;
            border: none;
            cursor: pointer;
            justify-content: end;
            background-color: white;
            position: absolute;
            right: 10%;
        }

        .btn-menu img{
            display: flex;
            width: 100%;
            height: 100%;
        }

        .user-nav-btn{
            display: none;
        }

        .nav-header-btn{
            display: flex;
        }

        .nav-menu-visible{
            display: flex;
            width: 78%;
            height: 400px;
            position: absolute;
            right: 10.5%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 30rem 0 0;
            background-color: hsl(257, 27%, 26%);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 8px;
        }

        .nav-menu-visible li{
            display: flex;
        }

        .nav-menu-visible button{
            display: flex;
            width: 85%;
            height: 40px;
            margin: 10px 0 17.5px;
        }

        .nav-menu{
            flex-direction: column;
            width: 100%;
            height: 55%;
            align-items: center;
            justify-content: center;
        }

        .nav-menu li a, .nav-user li a{
            margin: 0;
            color: white;
        }

        .nav-menu li a, .nav-user li a,
        .btn-sign-up a{
            font-weight: 700;
            font-size: 17px;
        }

        .item-nav-menu{
            margin: 7px 0 5px;
        }

        .nav-user{
            flex-direction: column;
            width: 85%;
            height: 45%;
            justify-content: center;
            align-items: center;
        }

        .btn-sign-up:hover, .nav-menu li a:hover, 
        .nav-user li a:hover{
            opacity: 0.8;
            color: white;
        }

        .border-nav{
            border-top: 1px solid hsl(0, 0%, 75%);
        }

        .sect-brands{
            margin: -1rem 0 0;
        }

        .cont-brands-image img{
            width: 125%;
            margin-left: 11rem;
        }

        .content-brands{
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }

        .content-brands h1{
            width: 90%;
        }

        .content-brands p{
            width: 80%;
            font-size: 14px;
            font-weight: 500;
        }
    }